make/config-load.v2.blueprint.json
{
  "name": "config-load.v2 (Supabase)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": null,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "config_load_v2"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "util:SetVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "scope": "roundtrip",
        "variables": [
          {
            "name": "supabase_service_key",
            "value": "PASTE_SERVICE_ROLE_KEY_HERE"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "scope": {
              "label": "One cycle"
            },
            "variables": {
              "items": [
                null
              ]
            }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "https://jsklabrbirsidlnxpgmw.supabase.co/rest/v1/config_coin_types?active=is.true&order=name&select=id,name,metal_type,priced_by,unit_label,face_value,oz_metal_per_unit,mult_circulated,mult_uncirculated,mult_slabbed,category:margin_category",
        "gzip": true,
        "method": "get",
        "headers": [
          {
            "name": "apikey",
            "value": "{{2.supabase_service_key}}"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{2.supabase_service_key}}"
          }
        ],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": false,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Empty"
            }
          }
        }
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "https://jsklabrbirsidlnxpgmw.supabase.co/rest/v1/config_margins?select=category,margin_pct",
        "gzip": true,
        "method": "get",
        "headers": [
          {
            "name": "apikey",
            "value": "{{2.supabase_service_key}}"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{2.supabase_service_key}}"
          }
        ],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": false,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        },
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Empty"
            }
          }
        }
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "https://jsklabrbirsidlnxpgmw.supabase.co/rest/v1/reps_master?active=is.true&order=name&select=id,name",
        "gzip": true,
        "method": "get",
        "headers": [
          {
            "name": "apikey",
            "value": "{{2.supabase_service_key}}"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{2.supabase_service_key}}"
          }
        ],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": false,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        },
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Empty"
            }
          }
        }
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "https://metals-api.com/api/latest?access_key=q706j4x2c53qrihpmt8tdp877htli4do250oc9if94k0ieccuaqlfj9h35nf&base=USD&symbols=XAU,XAG,XPT",
        "gzip": true,
        "method": "get",
        "headers": [],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        },
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Empty"
            }
          }
        }
      }
    },
    {
      "id": 7,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "ca": "",
        "qs": [],
        "url": "https://jsklabrbirsidlnxpgmw.supabase.co/rest/v1/spot_price_cache",
        "gzip": true,
        "method": "post",
        "headers": [
          {
            "name": "apikey",
            "value": "{{2.supabase_service_key}}"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{2.supabase_service_key}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "[{\"metal\":\"gold\",\"price_usd_per_ozt\":{{6.data.rates.USDXAU}}},{\"metal\":\"silver\",\"price_usd_per_ozt\":{{6.data.rates.USDXAG}}},{\"metal\":\"platinum\",\"price_usd_per_ozt\":{{6.data.rates.USDXPT}}}]",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": false,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        },
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            }
          }
        }
      }
    },
    {
      "id": 8,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": {},
      "mapper": {
        "body": "{\"coin_types\": {{3.data}}, \"margins\": {{4.data}}, \"reps\": {{5.data}}, \"spot\": {\"gold\": {{6.data.rates.USDXAU}}, \"silver\": {{6.data.rates.USDXAG}}, \"platinum\": {{6.data.rates.USDXPT}}}}",
        "status": "200",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0
        },
        "restore": {
          "expect": {
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            }
          }
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}